@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Russo+One&display=swap');   

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f2f2f2;
    padding: 15%;
    padding-top: 25px;
    padding-bottom: 0;
    transition: background-color 1s ease, height 1s ease;
}
main {
    margin: 200px 0 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}
.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.width-100{
    width: 100%;
}
.flex-wrap{
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 40px;
   flex-wrap: wrap;
}
.logo {
    height: 60px;
    cursor: pointer;
}
ul{
    gap:15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.mode-toggle-button{
    cursor: pointer;
    opacity: 1;
    height: auto;
    visibility: visible;
    transition: opacity 1s ease, height 1s ease;
}
.mode-toggle-button.hidden{
    opacity: 0;
    height: 0;
    visibility: hidden;
}
.dark-mode{
    background-color: #191919;
    color: #cccccc;
}
a{
    font-family: 'Montserrat' , sans-serif;
    text-decoration: none;
    color: #666666;
}
.social-icons{
    width: 30px;
    border: none;
    border-radius: 50%;
}
.social-icons:hover{
    border:1px solid transparent;
}
.nav-list{
    gap: 50px;
}
.nav-list a:hover{
    color: #ff9f1a; 
}
.mode-bar{
    position: absolute;
    right: 15%;
    top: 80px;
}
.footer-nav a:hover{
    color: #ff9f1a; 
}
.profile{
    background-image: linear-gradient(to right,#ff9f1a, #ff6b6b);
    background-clip: padding-box;
    width: 350px;
    border-radius: 50%;
}
.about-me{
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    color: #42446E;
    width: 55%;
}
.about-me strong {
    background-image: linear-gradient(to right,#ff9f1a, #ff6b6b);
    background-clip: text;
    -webkit-background-clip: text; /* For Safari/WebKit browsers */
    color: transparent;
}
h1{
    font-size: 40px;
    line-height: 26px;
    font-family: 'Montserrat' , sans-serif;
    color: #42446E;
    text-align: center;
    margin-bottom: 140px;
}
.project{
    padding: 0px 30px 25px 30px;
    width: 373px;
    height: 567px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.20);
}
.project p {
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color:  #666666;
    margin: 12px 0 21px;
}
.project a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
    text-decoration-line: underline;
}
.project li {
   gap: 10px;
}
p em {
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
    color:  #42446E;
    font-style: normal;
}
.p-img {
    width: 373px;
    height: 260px;
    border-radius: 20px 20px 0 0;
}
h2 {
    margin: 25px 0 15px 0;
    font-family: 'Montserrat' , sans-serif;
    font-size: 25px;
    line-height: 26px;
    text-align: center;
    color: black;
}
article{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 26px;
    color: #666666;
}
.tech-icon{
    width: 150px;
}
.dot-animation span{
    width: 25px;
    height: 25px;
    margin: 0 5px;
    background: linear-gradient(to right, #ff9f1a, #ff6b6b);
    border-radius: 50%;
    display: inline-block;  
    animation-name:dots;
    animation-duration:2s ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.dot-animation span:nth-child(2){
    animation-delay: 0.4s;
}

.dot-animation span:nth-child(3){
    animation-delay: 0.8s;  
}

@keyframes dots {
    50%{
        opacity: 0;
        transform: scale(0.7) translateY(10px);
    }
}

footer hr{
    margin: 40px 0 50px;
    background: #666666;
    height: 1px;
    border: none;
}
footer .footer-nav{
    margin-bottom: 55px;
  
}
footer .copyrights{
    background-image: linear-gradient(to right,#ff9f1a, #ff6b6b);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;   
}
.scroll-up {
    position: fixed;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
    margin: 15px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.scroll-up img{
    border-radius: 50%;
    width: 35px;
}
.scroll-up img:hover{
    border-radius: 50%;
    border: 2px solid transparent;
}


@media (max-width: 1000px) {
    .about-me p {
        font-size: 20px;
    }
    .profile {
        width: 250px;
    }
    .tech-icon{
        width: 100px;
    }
    .project{
        width: 300px;
        height:480px;
    }
    .p-img{
        width: 300px;
        height: 200px;
    }
    h2 {
        font-size: 18px;
    }
    article{
        font-size: 15px;
        line-height: 19px;
    }
    .project p {
        font-size: 12px;
    }
    .project a {
        font-size: 12px;
    }
    .project li {
       gap: 5px;
    }
    .project li img {
        width: 15px;
    }
    p em {
        font-size: 14px;
    }
    .logo {
        height: 45px;
    }
    .nav-list{
        gap: 15px;
    }
    .social-icons{
        width: 25px;
    }
    h1{
        font-size: 30px;
    }
}
@media (max-width: 749px) {
    main{
        margin: 150px 0px 30px 0px;
        gap: 150px;
    }
    body{
        padding: 15px;
    }
    .mode-bar{
        position:static;
    }
    .about{
        flex-direction: column-reverse;
        gap: 50px;
    }
    .about-me {
        font-size: 30px;
        line-height: 35px;
        width: 80%;
        margin: 0;
    }
    .profile {
        width: 285px;
    }
    .tech-icon{
        width: 70px;
    }
    .tech-icons{
        gap: 40px;
    }
    .project{
        padding: 0 10px 10px;
        width: 150px;
        height:280px;
        gap: 1px;
        margin-bottom: 150px;
    }
    .p-img{
        width: 150px;
        height: 110px;
    }
    h2 {
        font-size:12px;
        margin: 0;
    }
    article{
        font-size: 9px;
        line-height: 10px;
    }
    .project p {
        font-size: 7px;
        margin: 5px 0 5px;
    }
    .project a {
        font-size: 7px;
    }
    .project li {
       gap: 2px;
    }
    .project li img {
        width: 10px;
    }
    p em {
        font-size: 8px;
    }
    .logo {
        height: 35px;
    }
    .social-icons{
        width: 25px;
    }
    h1{
        font-size: 30px;
        margin-bottom: 80px;
    }
    .nav-list{
        flex-direction: column;
        gap:10px;
        font-size: 15px;
    }
    .copyrights{
        font-size: 15px;
    }
    footer hr {
        margin: 20px 0 25px;
    }
    .nav__icon {
        display:inline-block;
        position: relative;
        width:30px;
        height:5px;
        background: linear-gradient(to right, #ff9f1a, #ff6b6b);
        transition-property: background-color, transform;
        transition-duration: 300ms;
      
        &:before,
        &:after {
          content:'';
          display:block;
          width:30px;
          height:5px;
          position: absolute;
          background: linear-gradient(to right, #ff9f1a, #ff6b6b);;
          transition-property: margin, transform;
          transition-duration: 300ms;
          
        }
      
        &:before {
          margin-top:-10px;
        }
      
        &:after {
          margin-top:10px;
        }
    }
    nav {
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 20px;
        height: 100%;
        z-index:100;  
        opacity:0;
        transition-property: all;
        transition-duration: 100ms;
      }
      
      .nav--active nav {
        opacity:1;
        background-color:transparent;
      }
      
      nav ul {
        margin:0;
        padding:10px;
      }
      
      nav ul li {
        list-style-type: none;
        text-align: left;
        gap: 5px;
      }
      
      nav ul li a{
        font-size:16px;
        text-transform: uppercase;
        text-decoration: none;
        background-image: linear-gradient(to right,#ff9f1a, #ff6b6b);
        background-clip: text;
        -webkit-background-clip: text; 
        color: transparent;  
        opacity:1;
        transition: opacity 100ms ease;
      }
      
      /* Default navigation icon */
      .nav__trigger {
        display:block;
        position:absolute;
        width:30px;
        height:20px;
        right:10px;
        top:10px;
        z-index:200; 
      }
      
      .nav--active .nav__trigger {
        opacity:0.5;
      }
    nav {
        transform: translate(100%,-100%) scale(0.5);   
        border-radius:100%; 
      }
    
      .nav--active nav {
        transform: translateY(0) scale(1); 
        border-radius:0; 
        width:35%;
        height:27%;
      }
    
      nav ul {
        opacity:0;
        transition-delay:200ms;
      }
    
      .nav--active nav ul {
        opacity:1;
      }
    
      .nav--active .nav__icon {
        background: transparent;
     
        &:before {
          margin-top:0;
          transform:rotate(45deg);
        }
    
        &:after {
          margin-top:0;
          transform:rotate(-45deg);
        }
      }
  }