@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Russo+One&display=swap');   

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
    padding: 15%;
    padding-top: 25px;
    padding-bottom: 0;
}
main {
    margin: 200px 0 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}
.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.width-100{
    width: 100%;
}
.flex-wrap{
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 40px;
   flex-wrap: wrap;
}
.logo {
    height: 60px;
    cursor: pointer;
}
ul{
    gap:15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    font-family: 'Montserrat' , sans-serif;
    text-decoration: none;
    color: #666666;
}
.social-icons{
    width: 30px;
    border: none;
    border-radius: 50%;
}
.social-icons:hover{
    border:1px solid transparent;
}
.nav-list{
    gap: 50px;
}
.nav-list a:hover{
    color: #ff9f1a; 
}
.footer-nav a:hover{
    color: #ff9f1a; 
}
.profile{
    background-image: linear-gradient(to right,#ff9f1a, #ff6b6b);
    background-clip: padding-box;
    width: 350px;
    border-radius: 50%;
}
.about-me{
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    color: #42446E;
    width: 55%;
}
.about-me strong {
    background-image: linear-gradient(to right,#ff9f1a, #ff6b6b);
    background-clip: text;
    -webkit-background-clip: text; /* For Safari/WebKit browsers */
    color: transparent;
}
h1{
    font-size: 40px;
    line-height: 26px;
    font-family: 'Montserrat' , sans-serif;
    color: #42446E;
    text-align: center;
    margin-bottom: 140px;
}
.project{
    padding: 0px 30px 25px 30px;
    width: 373px;
    height: 567px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.20);
}
.project p {
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color:  #666666;
    margin: 12px 0 21px;
}
.project a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
    text-decoration-line: underline;
}
.project li {
   gap: 10px;
}
p em {
    font-family: 'Russo One', sans-serif;
    font-size: 18px;
    color:  #42446E;
    font-style: normal;
}
.p-img {
    width: 373px;
    height: 260px;
    border-radius: 20px 20px 0 0;
}
h2 {
    margin: 25px 0 15px 0;
    font-family: 'Montserrat' , sans-serif;
    font-size: 25px;
    line-height: 26px;
    text-align: center;
    color: black;
}
article{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 26px;
    color: #666666;
}
.tech-icon{
    width: 150px;
}
.dot-animation span{
    width: 25px;
    height: 25px;
    margin: 0 5px;
    background: linear-gradient(to right, #ff9f1a, #ff6b6b);
    border-radius: 50%;
    display: inline-block;  
    animation-name:dots;
    animation-duration:2s ;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.dot-animation span:nth-child(2){
    animation-delay: 0.4s;
}

.dot-animation span:nth-child(3){
    animation-delay: 0.8s;  
}

@keyframes dots {
    50%{
        opacity: 0;
        transform: scale(0.7) translateY(10px);
    }
}

footer hr{
    margin: 40px 0 50px;
    background: #666666;
    height: 1px;
    border: none;
}
footer .footer-nav{
    margin-bottom: 55px;
  
}
footer .copyrights{
    background-image: linear-gradient(to right,#ff9f1a, #ff6b6b);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;   
}
.scroll-up {
    position: fixed;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
    margin: 15px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.scroll-up img{
    border-radius: 50%;
    width: 35px;
}
.scroll-up img:hover{
    border-radius: 50%;
    border: 2px solid transparent;
}


@media (max-width: 1000px) {
    .about-me p {
        font-size: 20px;
    }
    .profile {
        width: 250px;
    }
    .tech-icon{
        width: 100px;
    }
    .project{
        width: 300px;
        height:480px;
    }
    .p-img{
        width: 300px;
        height: 200px;
    }
    h2 {
        font-size: 18px;
    }
    article{
        font-size: 15px;
        line-height: 19px;
    }
    .project p {
        font-size: 12px;
    }
    .project a {
        font-size: 12px;
    }
    .project li {
       gap: 5px;
    }
    .project li img {
        width: 15px;
    }
    p em {
        font-size: 14px;
    }
    .logo {
        height: 45px;
    }
    .social-icons{
        width: 25px;
    }
    h1{
        font-size: 30px;
    }
}
@media (max-width: 750px) {
    main{
        margin: 30px 0px 30px 0px;
        gap: 60px;
    }
    body{
        padding: 15px;
    }
    .about{
        flex-direction: column-reverse;
        gap: 15px;
    }
    .about-me {
        font-size: 20px;
        width: 80%;
        margin: 0;
    }
    .profile {
        width: 285px;
    }
    .tech-icon{
        width: 60px;
    }
    .tech-icons{
        gap: 20px;
    }
    .project{
        padding: 0 10px;
        width: 150px;
        height:280px;
    }
    .p-img{
        width: 150px;
        height: 110px;
    }
    h2 {
        font-size:12px;
        margin: 10px 0 5px;
    }
    article{
        font-size: 9px;
        line-height: 10px;
    }
    .project p {
        font-size: 9px;
        margin: 5px 0 5px;
    }
    .project a {
        font-size: 10px;
    }
    .project li {
       gap: 2px;
    }
    .project li img {
        width: 15px;
    }
    p em {
        font-size: 10px;
    }
    .logo {
        height: 35px;
    }
    .social-icons{
        width: 25px;
    }
    h1{
        font-size: 30px;
        margin-bottom: 40px;
    }
}