@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato' , sans-serif;
    background-color: #F2F2F2;
}
button {
    cursor: pointer;
}
/* header styling */
header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 5px;
    align-items: center;
}
header ul {
    display: flex;
    width: 200px;
    justify-content: space-between;
    list-style: none;
}
 
li h3 {
    font-size: 17px;
    font-weight: 400;
    font-style: italic;
    color: #40CBCE;
}

/* main stylin */
main {
    width: 90%;
    margin: auto;
}
/*  section introduction */

.introduction {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}  

.introduction img {
    width: 45%;
}
.introduction button {
    background-color: #40CBCE;
    color:#ffffff;
    width: 40%;
    height: 50px;
    border: none;
    box-shadow: 3px 5px 15px #40CBCE;
    font-size: 20px;
    font-weight: 600;
}
.quizStart{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.introduction h3 {
    font-size: 30px;
    font-weight: 600;
    color: #A14667;
    text-shadow: -1px -1px 0 #580a0a, 1px -1px 0 #580a0a, -1px 1px 0 #580a0a, 1px 1px 0 #580a0a;
    width: 100%;
}

.introduction h5 {
    padding: 5px;
    color: #40CBCE;
    border-left: #40CBCE 2px solid;
}

.name {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #A14667;
}
.name input {
    border: none;
    background: #F2F2F2;
    color: #40CBCE;
    font-size: 20px;
    appearance: none;
    outline: none;
}

.name input::placeholder {
    color: #40CBCE;
    font-style: italic;
  }

/* choose topics aside */

aside h4{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #A14667;
    text-shadow: -1px -1px 0 #580a0a, 1px -1px 0 #580a0a, -1px 1px 0 #580a0a, 1px 1px 0 #580a0a;
    width: 100%;
}
aside p {
    text-align: center;
    color: #40CBCE;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
}

aside ul {
    gap: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
}

aside ul li {
   
    display: flex;
}
aside li span{
    padding: 5px;
    background: #A14667;
    visibility: hidden; 
    cursor: pointer;

}
aside ul p {
    background: #40CBCE;
    font-size: 17px;
    padding: 5px;
    color: #580a0a;
    cursor: pointer;
}
aside button{
    margin-top: 15px;
    background-color: #40CBCE;
    color:#ffffff;
    width: 150px;
    height: 50px;
    border: none;
    box-shadow: 3px 5px 15px #40CBCE;
    font-size: 20px;
    font-weight: 600;
    align-self: flex-end;
    margin-right: 30px;
}
.selectTopics {
    width: 80%;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.selectTopics span{
    align-self: flex-end;
    cursor: pointer;
}
aside{
    padding: 100px;
    background-color: rgb(83, 64, 38);
    background:transparent;
    position: absolute;
    top: 0;
    height: 100%;
    display: none;
}



/* section Quiz */

.quiz{
    display: none;
}

.quizQuestion {
    width: 80%;
    height: 100px;
    color: #A14667;
    font-size: 35px;
    text-align: center;
    margin: auto; 
    margin-top: 30px; 
    padding-top: 20px;
}

.questionVarints{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;

}

.quizNavigation{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;

}
.quizNavigation button{
    background-color: #40CBCE;
    color:#ffffff;
    width: 100px;
    height: 50px;
    border: none;
    box-shadow: 3px 5px 15px #40CBCE;
    font-size: 20px;
    font-weight: 600;
}
.variant {
    background-color: #40CBCE;
    color:#ffffff;
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: 3px 5px 15px #40CBCE;
    font-size: 20px;
    font-weight: 600;
}
.selected {
    background-color: #A14667;
}
/* prgress bar */
.questionProgresBar{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}
.questionProgresBar .steps {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.steps .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    color: #580a0a;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 1;
    border: 4px solid #e0e0e0;
    background-color: #F2F2F2;
    transition: all 200ms ease;
    transition-delay: 0ms;
}
.steps .circle.active{
    border-color: #40CBCE;
    transition-delay: 100ms;
}
.steps .progresBar{
    position: absolute;
    height: 4px;
    width: 100%;
    background: #e0e0e0;
}
.progresBar .indicator{
    position: absolute;
    height: 100%;
    width: 0%;
    background: #40CBCE;
    transition: all 300ms ease;
}
/* result aside styling */
.result{
    height: 90%;
    width: 90%;
    margin: auto;
    padding: 0;
    padding-top: 10px;
    z-index: 2;
}
.resultContainer{
    width: 100%;
    background:#e0e0e0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid #A14667;
    gap: 25px;
}
.resultContainer p {
    font-size: 40px;
    font-style: normal;
    color:#40CBCE;
}
.resultCircle{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: #40CBCE;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 5px 15px #40CBCE;
}
.quizResult{
    font-size: 100px;
    color: #F2F2F2;
}
.resultNav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.correctAnswers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;


}
.correctAnswers p{
    font-size: 20px;
    border: 1px solid #999;
    padding: 5px;
  

}

/* activation classes */
.displayed{
    display: block;
    visibility: visible;
}
.topicSelected {
    background: #78DDD5;
}
.unDisplayed{
    display: none;
}

.correct{
    background-color: rgb(13, 155, 13);
}
.wrong{
    background-color: #a0073f;
}

button:disabled{
    background-color: #999;
    box-shadow: none;
    cursor: not-allowed;
}

/* footer */
footer {
    color: #e6e6dd;
    background-color: #40CBCE;
    padding:5px 10% 5px 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.logo{
    height: 40px;
}
.logo img {
    height: 40px
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.cpr {
    text-align: end;
    margin-top: 20px;
}

@media screen and (max-width:768px){
    .quizStart{
        width: 100%;
        gap:30px;
    }
    img {
        display: none;
    }
    .selectTopics{
        width: 100%;
    }
    .topicContent {
        padding: 0;
    }
    .steps .circle{
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
    .quizQuestions{
        font-size: 25px;
    }
    .quizQuestion{
        margin-top: 5px;
        padding-top: 0;
        height: 150px;
    }
    .questionVarints{
        margin-top: 10px;
        flex-direction: column;
        height: 150px;
        gap: 10px;
        margin-bottom: 15px;
    }
    .variant{
        width: 100%;
    }
    .correctAnswers p{
        width: 40%;
        height: 60px;
        font-size: 13px;
    }
    #playerName{
        font-size: 25px;
    }
    .resultCircle {
        width: 120px;
        height: 120px;
    }
    .resultContainer{
        gap: 5px;
    }
    .resultNav{
        margin: 0;
        margin-bottom: 10px;
    }
}
