@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@900&family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@900&family=Monomaniac+One&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    background-color: #DAF0FF;
    font-family: 'Geologica', sans-serif; 
    display: flex;
    flex-direction: column;
}
section{
    flex: 1;
}
.top{
    display: flex;
    justify-content: space-between;
}
.toggleW{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: none;
    box-shadow:-8px 11px 21px rgba(0, 107, 181, 0.63);
    background:#ffffff;
    transition: background-color 2s ease-out;
}
.toggleB{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: none;
    box-shadow:-8px 11px 21px rgba(0, 107, 181, 0.63);
    background: #3d3d3f;
    transition: background-color 2s ease;
}

.history{
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
.history img{
    width: 100%;
}
.history:hover{
    transition: fill 2s ease-out;
    cursor: pointer;
}

.toggleW:hover{
    background-color: #3d3d3f;
    cursor: pointer;
}
.toggleB:hover{
    background-color: #ffffff;
    cursor: pointer;
}
.Calculator{
    width: 300px;
    height: 600px;
    background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
    border-radius: 40px ;
    margin: auto;
    margin-top: 150px;
    box-shadow:80px 50px 70px rgba(0, 107, 181, 0.63);
    padding: 20px 30px 35px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.keyboard{
    cursor:default ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 346px;
}
.digits{
    display: flex;
    flex-wrap: wrap;
    gap: 14px 

}
.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.functions, .navigation, .signs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.funct, .nav1, .nav2, .numb, .numbD, .sing, .numb0, .sign,.signE , .signP{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.funct{
    width: 50px;
    height: 30px;
    border-radius: 25px;
    background: #303136;
    color:#29A8FF ;
}
.nav1, .nav2, .numb, .sign, .signE, .numb0,.numbD ,.signP{
    width: 50px;
    height: 50px;
    border-radius: 16px;
}
.nav1{
    background:  #616161 ;
    color: #A5A5A5 ;
}
.nav2 , .sign, .signP{
    background: #005DB2;
    color: #339DFF;
}
.nav2:hover , .sign:hover, .signP:hover , .signE:hover{
    background: #29A8FF;
    color: #005DB2;
}
.numb,.numb0, .numbD {
    background: #303136;
    color: #29A8FF;
}
.numb:hover,.numb0:hover, .numbD:hover, .nav1:hover, .funct:hover{
    background: #3d3d3f;
    color: #005DB2;
}
.signs{
    flex-direction: column;
    justify-content: space-between;   
}
.signE{
    background: #1991FF;
    color: #B2DAFF;
    height:80px ;
}
.signP{
    height: 80px;
}
.numb0{
    width: 115px;
    margin-top: 10px;
}
.numbD{
    z-index: 1;
    margin-top: 10px;
}

.screen{
    width: 240px;
    height: 170px;
    padding: 20px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.input{
    margin-bottom: 10px;
    max-width: 240px;
    height:35px ;
    overflow-x: auto;
    overflow-y: hidden;
    color: #818181;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Monomaniac One', sans-serif;
}
.result{
    max-width: 240px;
    height: 80px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 40px;
    line-height: 70px;
    max-width: 240px;
}


    /* white theme */
.CalculatorW{
    background: #f7f8f8;
}
.Whitetheme{
    background: #ffffff;
}
.Whitetheme:hover{
    background: #f7f8f8;
}
.bluebutton{
    background: #ADE2FF;
}
.buttonEqual{
    background: #19ACFF;
    box-shadow: -8px 11px 21px rgba(0, 163, 255, 0.65), inset -3px 4px 11px #B0DFFF;
}
.resultW{
    color:#424242;
}
.historyW{
    fill: #17181A;
}
.historyD{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-top: -400px;
}
.historyView{
    display: none;
    position: relative;
    width: 300px;
    height: 400px;
    margin: auto;
    background: linear-gradient(191.34deg, #292b30 -4.95%, #17181A 103.74%);
    border-radius: 0px 0px 40px 40px;
    z-index: 2;

}
.historyViewD{
    display: block;
}
.historyAdd{
    color: wheat;
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
}
.historyAdd p {
    width: 100%;
    text-align: end;
    border-top:1px solid #005DB2;
    padding: 3px;
    cursor: pointer;
}
.deleteHistory{
    color: #005DB2;
    padding: 10px;
    text-align: end;
    cursor: pointer;
}

/* footer styling */
footer {
    color: #e6e6dd;
    background-color: #17181A;
    padding:5px 10% 5px 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.logo{
    height: 40px;
}
.logo img {
    height: 40px
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.cpr {
    text-align: end;
    margin-top: 20px;
}
/* header */
.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    gap: 50px;   
}
.nav-list a:hover{
    color: #ff9f1a;    
}
header {
    padding: 5px 10% 5px 10%;
}
li{
   list-style-type: none;
}