@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Hanken Grotesk';
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main{
    min-width: 375px;
    display: flex;
    flex-direction: column;
}
h1 {
    color: hsl(241, 100%, 89%);
}
.resultDiv {
    height: 365px;
    background: linear-gradient(hsl(252, 100%, 67%) , hsl(241, 81%, 54%));
    border-radius: 0 0 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:25px 63px  40px;
    color: #ffffff;
    font-size: 9px;
}
.scoreDiv{
    width: 140px;
    height: 140px;
    background: linear-gradient(hsla(256, 72%, 46%, 1) , hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}
.scoreDiv p {
    color:hsl(241, 100%, 89%) ;
    font-size: 16px;
}
h3 {
    font-size: 25px;
}
.resultDiv p {
    color: hsl(241, 100%, 89%);
    font-size: 15px;
    text-align: center;
}
.summeryDiv {
    padding:30px;
}
h4 {
    font-size: 18px;
    margin-bottom: 25px;
}
.wrapper{
    height: 55px;
    background-color:#e9efed ;
    margin-bottom: 15px;
    border-radius: 10px;
}
.componentsDiv{
    padding: 15px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}
.component  {
    display: flex;
    gap: 13px;
}
.reactionColor{
    color:hsl(0, 100%, 67%) ;
    background-color:#fff6f5 ;
}
.memoryColor{
    color:hsl(39, 100%, 56%) ;
    background-color:#fffbf2;
}
.verbalColor {
    color: hsl(166, 100%, 37%);
    background-color: #f2fbfa;
}
.visualColor {
    color: hsl(234, 85%, 45%);
    background-color:#f3f3fd;
}
.progress {
    color: #959fa1;
}
.wrapper span {
    font-weight: 800;
    color: #1e2039 ;
}
button {
    margin-top: 10px;
    width: 100%;
    height: 55px;
    background-color: #303b59;
    color:#e5e9ff ;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 400;
    justify-items: end;
}
button:hover {
    background:linear-gradient(hsl(252, 100%, 67%) , hsl(241, 81%, 54%));
}
.resultSummeryDiv{
    width: 100%;
    height: 265px;
}

@media screen  and (min-width:650px){
    main {
        flex-direction: row;
        height: 512px;
        width:736px  ;
        border-radius: 25px;
        box-shadow: 15px 15px 20px -3px #f4f7fe ;
    }
    .resultDiv, .summeryDiv{
        width: 50%;
        border-radius: 25px;
        height:100% ;
    }
    h1{
        font-size: 24px;
    }
    .scoreDiv {
        height: 200px;
        width: 200px;
    }
    h2 {
        font-size: 72px;
    }
    .scoreDiv p {
        font-size:18px ;
    }
    h3 {
        font-size: 35px;
    }
    .resultDiv p {
        font-size: 17px;
    }
    .componentsDiv {
        font-size: 18px;
    }
    .component {
        gap: 15px;
    }
    button{
        margin-top: 25px;
    }
    
    h4 {
        font-size: 24px;
        margin-top:15px;
        margin-bottom:30px;
    }
}