@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
}
main{
    height: 100vh;
    background-color:#f0f0f0 ;
}
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
section {
    background-color: #ffffff;
    border-radius:  20px 20px 85px 20px;
    padding: 48px 20px ;
    width: 345px;
    height: 485px;
}
.input{
    display: flex;
    gap: 15px;
}
.input-fields {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    gap: 4px;
    color: #707070;
    width: 30%; 
    position: relative;
}

input {
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    height: 54px;
    padding-left: 15px ;
    font-weight: 800;
    font-size: 20px;
    caret-color: #824cf8;
}
input::placeholder{
    font-weight: bold;
}
input:focus{
    border: 1px solid #824cf8;
    outline: none;
}
.divider {
    height: 128px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
hr {
    background-color: #ededed;
    width: 100%;
    border: none;
    height: 2px;
}
button{
    position: absolute;
    border-radius: 50%;
    background-color: #824cf8;
    width: 65px;
    height: 65px;
    border: none;
}

button img {
    width: 25px;
}
.output{
    height: 180px;
}
.output-field{
    align-items: center;
    height: 62px;
    display: flex;
    gap: 5px;
}
p{
    
    font-weight: 800;
    font-style: italic;
    letter-spacing: 2px;
}
span{
    font-weight: 800;
    font-style: italic;
    color: #824cf8;
}
button:hover {
    cursor: pointer;
    background-color: #151515;
}
.validation {
    position: absolute;
    font-weight: 400;
    font-size: 9px;
    letter-spacing: normal;
    font-style: italic;
    color: #f0575c;
    bottom: -20px;
    opacity: 0;
}
.attribution{
    font-size: 8px;
    text-align: end;
    
}
h2{
    display: none;
}
@media screen and (min-width: 760px) {
  
    body {       
        font-size: 95px;
    }
    section {
        border-radius:  25px 25px 200px 25px;
        padding: 52px;
        width: 755px;
        height: 590px;
    }
    .input{
        width: 75%;
        gap: 30px;
    }
    input {
        height: 65px;
        padding-left: 22px ;
        font-weight: 800;
        font-size: 30px;
    }
    .input-fields {
        gap: 8px;
    }
 
    button{
        align-self: flex-end;
        width: 87px;
        height: 87px;
        border-radius: 50%;
    }
    button img {
        width: 45px;
    }
    hr{
        height: 3px;
    }
    .output-field{
        height: 100px;
    }
    .divider{
        height: 86px;
    }
    .validation{
        font-size: 12px;
    }
}
    .invalid{
        border: 1px solid #f0575c;
        caret-color: #f0575c;
    }
    .error{
        color: #f0575c;
    }